<a href="https://colab.research.google.com/github/lmrhody/femethodsS23/blob/main/Week8_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 8: Working with Text Data from APIs

Fill out the cell below with your information.

* Student Name: Michael Smith  
* Date: 4/16/2023
* Instructor: Lisa Rhody
* Assignment due: 
* Methods of Text Analysis
* MA in DH at The Graduate Center, CUNY

## Objectives
This week you'll be working with the availablility of APIs and the data they provide, as well as learing about some of the steps that you need to take while cleaning and preparing text data for analysis. 

In this notebook, you will:
* ingest data into a notebook from an API; 
* use Pandas dataframes to find and organize data; 
* uncover some of the challenges of working with data, including variation, multiple words with similar word stems, words with similar meanings, stopword control, and more; 
* Consider the relationship between the data you are working with, the forms of "data cleaning" or "data scrubbing" that most text analysis piplines use, and the challenges that those methods present a feminist critical approach.

# Getting Started
As always, we need to begin by importing Python libraries that we know we will need to use. By this point, perhaps you are already familiar with some of them and know why we use them. Others may be less familiar to you. See if you can read through the list of imports and identify what each package does and why we will need it.

In [1]:
import nltk
import numpy as np
import pandas as pd
import urllib
import pprint

## Access data using an API
In the following exercise, you will import data from the Chronicling America API. You will set parameters for what content and keywords to pull in, then you will send the request to the server. After you import the data, you'll organize and clean up the JSON format--in other words, when you get your search results, it will come packaged in a file format, called JSON. We will ingest the JSON file, turn it into a dictionary, and then turn part of that dictionary into a Pandas Dataframe. All we're doing when we turn text data into a dataframe is organizing the metadata and the files into a format that can be used and acted upon in order to do other kinds of analysis. 

To work with APIs, we will need to import a new library called "[requests](https://pypi.org/project/requests/)."

In [2]:
# Make the Requests module available
import requests

# What are APIs? 
APIs are a set of routines that allow you to build from and interact with a software application. APIs make it possible for 2 software programs to work with each other. We will use APIs to pull data from applications. Many applications, like Twitter, Instagram, LinkedIn, and other applications have APIs. 

In the following example, you are going to use the requests library to make an http request to the [Open Movie Database](https://www.omdbapi.com/) (OMDb). We are going to use a security protocol called an API Key and request that the API return results to a query about the movie *The Princess Bride*. 

First, go to the API Key generator on the [OMDb website](https://www.omdbapi.com/apikey.aspx?__EVENTTARGET=freeAcct&__EVENTARGUMENT=&__LASTFOCUS=&__VIEWSTATE=%2FwEPDwUKLTIwNDY4MTIzNQ9kFgYCAQ9kFgICBw8WAh4HVmlzaWJsZWhkAgIPFgIfAGhkAgMPFgIfAGhkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYDBQtwYXRyZW9uQWNjdAUIZnJlZUFjY3QFCGZyZWVBY2N0oCxKYG7xaZwy2ktIrVmWGdWzxj%2FDhHQaAqqFYTiRTDE%3D&__VIEWSTATEGENERATOR=5E550F58&__EVENTVALIDATION=%2FwEdAAU%2BO86JjTqdg0yhuGR2tBukmSzhXfnlWWVdWIamVouVTzfZJuQDpLVS6HZFWq5fYpioiDjxFjSdCQfbG0SWduXFd8BcWGH1ot0k0SO7CfuulHLL4j%2B3qCcW3ReXhfb4KKsSs3zlQ%2B48KY6Qzm7wzZbR&at=freeAcct&Email=). Click the radio button next to FREE. Enter your email address, first, and last name, and then in the "use" section, you can write: "Completing an assignment for class." Then click Submit. It usually takes just a few moments for a confirmation email to arrive in your email box. Be sure to click on the second link in the email first to validate your key. The email will include a sequence of characters and numbers that you will use in this exercise. Once you have set up a key, you can begin the rest of the activity. 

In order to retrieve data from the OMDb API using your API Key, we need to make a request using a communication protocol that is common on the internet: http. Essentially, what we will do is create a variable called `url` in which we will store an http request that is sent to the internet address www.omdbapi.com/. What follows the address, beginning with a question mark, is a query string. Query strings are not part of the URL syntax, but it tells the API (in this case) what your key is,and then what information you would like to retrieve. In this case, the information is all the information included in the record with the title *The Princess Bride*. 

Notice that the URL cannot contain spaces. Therefore, we insert the percent sign `%` where a space in the title might go. Alternately, we could put a + sign between each word.

In [3]:
url = 'http://www.omdbapi.com/?apikey=4603ce48&t=the%princess%bride'

In [4]:
# Create a variable movies and use the get method in requests to read in the 
# response from the URL.
movies = requests.get(url)
# What datatype is the variable movies?
type(movies)

requests.models.Response

The result of the `requests.get()` method is specific to the requests library. In order to use the file, though, we need to convert the data from its current format into a JSON file. We do that by taking movies and applying the `.json' function.

In [5]:
# Take movies and turn it into json. 
json_data = movies.json()
type(json_data)

dict

When you check the data type now, you will discover that the json file is saved as a dictionary, which is to say a series of "keys" and "values" saved in pairs. 

Finally, we need to create a for loop so that we can go through the API results and print out the keys and their associated values. So, for every key and it's associated value in the json_data object, we look at each item in the dictionary and print the key, then a : and then the associated values.

In [6]:
for key, value in json_data.items():
  print(key + ':', value)

Title: The Princess Bride
Year: 1987
Rated: PG
Released: 09 Oct 1987
Runtime: 98 min
Genre: Adventure, Comedy, Family
Director: Rob Reiner
Writer: William Goldman
Actors: Cary Elwes, Mandy Patinkin, Robin Wright
Plot: A bedridden boy's grandfather reads him the story of a farmboy-turned-pirate who encounters numerous obstacles, enemies and allies in his quest to be reunited with his true love.
Language: English
Country: United States
Awards: Nominated for 1 Oscar. 7 wins & 10 nominations total
Poster: https://m.media-amazon.com/images/M/MV5BYzdiOTVjZmQtNjAyNy00YjA2LTk5ZTAtNmJkMGQ5N2RmNjUxXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX300.jpg
Ratings: [{'Source': 'Internet Movie Database', 'Value': '8.0/10'}, {'Source': 'Rotten Tomatoes', 'Value': '97%'}, {'Source': 'Metacritic', 'Value': '77/100'}]
Metascore: 77
imdbRating: 8.0
imdbVotes: 433,206
imdbID: tt0093779
Type: movie
DVD: 18 Jul 2000
BoxOffice: $30,857,814
Production: N/A
Website: N/A
Response: True

We know that we can search by title in the API because of the documentation on the [OMDb website](https://www.omdbapi.com/). Look under Usage and Parameters. In fact, the OMDb site includes examples, so that you can do a search and find the query string you need to get the result you are looking for. All the search parameters are listed here. 

Another way to search for a particular movie is with its item ID in the IMDB database. You can find the item identifier by looking at the end of the URL when you search for a movie. For example, in this URL https://www.imdb.com/title/tt2906216/ we would use the item ID `tt2906216`. There are also additional arguments that can be used in the query string for OMDb to find the full plot description.

In [7]:
url = 'http://www.omdbapi.com/?apikey=4603ce48&i=tt2906216&plot=full'
dandd = requests.get(url)
json_data = dandd.json()
for key, value in json_data.items():
  print(key + ':', value)

Title: Dungeons & Dragons: Honor Among Thieves
Year: 2023
Rated: PG-13
Released: 31 Mar 2023
Runtime: 134 min
Genre: Action, Adventure, Fantasy
Director: John Francis Daley, Jonathan Goldstein
Writer: Jonathan Goldstein, John Francis Daley, Michael Gilio
Actors: Chris Pine, Michelle Rodriguez, Regé-Jean Page
Plot: A charming thief and a band of unlikely adventurers embark on an epic quest to retrieve a lost relic, but things go dangerously awry when they run afoul of the wrong people.
Language: English
Country: United States, Canada, United Kingdom, Iceland, Australia
Awards: 1 nomination
Poster: https://m.media-amazon.com/images/M/MV5BZjAyMGMwYTEtNDk4ZS00YmY0LThhZjUtOWI4ZjFmZmU4N2I3XkEyXkFqcGdeQXVyMTEyNzQ1MTk0._V1_SX300.jpg
Ratings: [{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Metacritic', 'Value': '71/100'}]
Metascore: 71
imdbRating: 7.6
imdbVotes: 17,240
imdbID: tt2906216
Type: movie
DVD: N/A
BoxOffice: $38,500,000
Production: Paramount Pictures
Website: N/A
Response: True

# Chronicling America
For this activity, we are going to use the [Chronicling America API](https://chroniclingamerica.loc.gov/about/api/), which is created and maintained by the Library of Congress. Chronicling America is an archive of digitized newspapers from across the United States that are not under copyright protection by another digitization vendor. It is part of the National Digitial Newspaper project funded by the National Endowment for the Humanities. There are more than [140,000 newspaper titles](https://chroniclingamerica.loc.gov/search/titles/) included in the collection. 

If you're interested in some of the critiques of the Chronicling America project, you might want to read Benjamin Fagen's article "Chronicling White America." (Fagan, Benjamin. "Chronicling White America." American Periodicals: A Journal of History & Criticism, vol. 26 no. 1, 2016, p. 10-13. Project MUSE https://muse.jhu.edu/article/613375.)

In [8]:
# Create a variable called 'api_search_url' and give it a value
api_search_url = 'https://chroniclingamerica.loc.gov/search/pages/results/'

In [58]:
# This creates a dictionary called 'params' and sets values for the API's mandatory parameters
# The parameters are drawn from the API documentation which describes the fields in the API. 
params = {
    'proxtext': 'walrus' # Search for this keyword -- feel free to change!
    
}

(Later on, you will be asked to return to the above cell and change the search parameters. You do this by replacing `poetry` with `yourterm`.)

In [59]:
# The following line adds a value for 'encoding' to our dictionary
params['format'] = 'json'

# Let's view the updated dictionary
params

{'proxtext': 'walrus', 'format': 'json'}

In [60]:
# The next line uses the requests package that we imported above to pull data from the Chronicling America API 
# and stores the result in a variable called 'response'
response = requests.get(api_search_url, params=params)

# We use a print statement to show us the url that we are sending to the API
print('Here\'s the formatted url that gets sent to the ChronAmerca API:\n{}\n'.format(response.url)) 

# It's nice to have some feedback about the status of the API response 
# to make sure there were no errors. The following checks to see that there are no errors and shows a response.
if response.status_code == requests.codes.ok:
    print('All ok')
elif response.status_code == 403:
    print('There was an authentication error. Did you paste your API above?')
else:
    print('There was a problem. Error code: {}'.format(response.status_code))
    print('Try running this cell again.')

Here's the formatted url that gets sent to the ChronAmerca API:
https://chroniclingamerica.loc.gov/search/pages/results/?proxtext=walrus&format=json

All ok

In [61]:
# We are going to take the Chronicling America API's JSON results and turn them into a Python variable called 'data'
data = response.json()

The request that we made was for data formatted in JSON, which means Javascript Object Notation. JSON is a structured way of organizing information and it can be converted into a Python Dataframe; however, it's not always easy for a human to read. We're going to use another package called Prettify to use indentation and color to help make the JSON a little more understandable to the human reader. We're also using a json library and a library called Pygments to add some colour to the output.

In [63]:
# Let's prettify the raw JSON data and then display it.

# We're using the Pygments library to add some colour to the output, so we need to import it
import json
from pygments import highlight, lexers, formatters
import pprint

# This uses Python's JSON module to output the results as nicely indented text
formatted_data = json.dumps(data, indent=2)

# This colours the text
highlighted_data = highlight(formatted_data, lexers.JsonLexer(), formatters.TerminalFormatter())

# And now display the results
# print(highlighted_data)

In [64]:
type(json_data)

dict

## Reading text in a dataframe
Next, you will use what we learned about the data in the API using the keys. We're going to look into the "items" entry in the JSON file and create a dataframe using Pandas that pulls out the title, content, and year of publication for each of the items.

In [79]:
# Drill down into the API data to find the filds we want to pull out and work with
json_data = json.loads(formatted_data)
# print(json_data['items'])
cleaned_papers = []
for item in json_data['items']:
  # print(item['ocr_eng'])
  cleaned_papers.append({'title': item['title'], 'content': item['ocr_eng'], 'date': item['date'], 'url': item['url'] })
# print(cleaned_papers)
pp = pprint.PrettyPrinter(indent=4)

# pp.pprint(cleaned_papers)
papers_df = pd.DataFrame(cleaned_papers)
len(papers_df)
# papers_df

20

In [80]:
import re
from string import punctuation
def preprocess_text(text):
    text = text.lower()  # Lowercase text
    text = re.sub(r"[^A-Za-z0-9\s]+", "", text) # Remove punctuation and special characters
    text = " ".join(text.split())  # Remove extra spaces, tabs, and new lines
    return text

papers_df["text_col"] = papers_df['content'].apply(lambda t: preprocess_text(t))

In [81]:
papers_df

,title,content,date,url,text_col
0,The San Francisco call. [volume],An Eskimo just back\nfrom fishing\nMeets compa...,19100227,https://chroniclingamerica.loc.gov/lccn/sn8506...,an eskimo just back from fishing meets company...
1,Mining-dredging edition Nome daily nugget. [vo...,f..-----t\n• •\ni ?\nONF. of tile most interes...,19151001,https://chroniclingamerica.loc.gov/lccn/201827...,ft i onf of tile most interesting of tile dive...
2,The Washington times. [volume],I' i I\n■■ I* ■- ■\ni BOOK OF MAGIC—Why Is Mr....,19230114,https://chroniclingamerica.loc.gov/lccn/sn8402...,i i i i i book of magicwhy is mr walrus so sad...
3,The times dispatch. [volume],",*TKE TIMES-DISPATCHi RICHMOND, VA., SUNDAY, J...",19070922,https://chroniclingamerica.loc.gov/lccn/sn8503...,tke timesdispatchi richmond va sunday jglotemb...
4,New-York tribune. [volume],ycu)^ jrrk s^lliiife Sttbutie.\nVKEPAR ITIOXS ...,19031122,https://chroniclingamerica.loc.gov/lccn/sn8303...,ycu jrrk slliiife sttbutie vkepar itioxs for t...
5,New-York tribune. [volume],Heard and Se\nParticular Mr. Walrus\nBy MARY G...,19190601,https://chroniclingamerica.loc.gov/lccn/sn8303...,heard and se particular mr walrus by mary grah...
6,The Nome nugget. [volume],GAMBELL\nNEWS LETTER\nBy CLARENCE IRRIGOO\nFal...,19571225,https://chroniclingamerica.loc.gov/lccn/sn8402...,gambell news letter by clarence irrigoo fall 1...
7,New-York tribune. [volume],BRINGING HOME THE ESQUIMAU BACON\nHAVE you eve...,19211009,https://chroniclingamerica.loc.gov/lccn/sn8303...,bringing home the esquimau bacon have you ever...
8,The Nome nugget. [volume],ANYBODY WANT A WALRUS HEAD TROPHY?\nThe time h...,19561015,https://chroniclingamerica.loc.gov/lccn/sn8402...,anybody want a walrus head trophy the time has...
9,Evening star. [volume],% Bet she'd give her eye-teeth\nfor what we've...,19440618,https://chroniclingamerica.loc.gov/lccn/sn8304...,bet shed give her eyeteeth for what weve got 1...
10,Detroit evening times.,AT DAWN 'THE WALRUS’ COMES TO VAL AND SAYS. ‘T...,19440213,https://chroniclingamerica.loc.gov/lccn/sn8806...,at dawn the walrus comes to val and says theps...
11,Evening star. [volume],Horry GtQQM\n■ ' • I » * iik\nTOY IN ORBIT: Ki...,19611105,https://chroniclingamerica.loc.gov/lccn/sn8304...,horry gtqqm i iik toy in orbit kimowhtan siloo...
12,Mining-dredging edition Nome daily nugget. [vo...,"window, usually located in the roof\ncovered w...",19151001,https://chroniclingamerica.loc.gov/lccn/201827...,window usually located in the roof covered wit...
13,The Waterbury Democrat. [volume],Walrus Is Most Maligned Plane\nBut British Fle...,19430521,https://chroniclingamerica.loc.gov/lccn/sn8201...,walrus is most maligned plane but british flee...
14,The Nome nugget. [volume],"THE NOME NUGGET\nPublished Monday, Wednesday a...",19560709,https://chroniclingamerica.loc.gov/lccn/sn8402...,the nome nugget published monday wednesday and...
15,The Wrangell sentinel.,Reynolds Hunts Walrus\n(Seattle Times)\n<fr.fr...,19380923,https://chroniclingamerica.loc.gov/lccn/sn9405...,reynolds hunts walrus seattle times frfr48huju...
16,New-York tribune. [volume],announcing Its proprietor's name. These are th...,18970829,https://chroniclingamerica.loc.gov/lccn/sn8303...,announcing its proprietors name these are the ...
17,The Nome nugget. [volume],"1-- w—mm—mm\nHUH\n*1 .\nSaturday, 9 a.m., N. C...",19550603,https://chroniclingamerica.loc.gov/lccn/sn8402...,1 wmmmm huh 1 saturday 9 am n c store all kind...
18,Mining-dredging edition Nome daily nugget. [vo...,Reviewing as a whole the possibilities of fish...,19161001,https://chroniclingamerica.loc.gov/lccn/201827...,reviewing as a whole the possibilities of fish...
19,El Paso herald.,COMIC SECTION\nEL PASO HERALD\nApril 10 1915\n...,19150410,https://chroniclingamerica.loc.gov/lccn/sn8808...,comic section el paso herald april 10 1915 cop...

In [82]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

nltk.download("stopwords")

stopwords_ = set(stopwords.words("english"))


def tokenize_text(text):
    tokens = word_tokenize(text)
    clean_tokens = [t for t in tokens if not t in stopwords_]
    return clean_tokens

papers_df['words'] = papers_df['text_col'].apply(lambda t: tokenize_text(t))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/michaelsmith/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [83]:

papers_df

,title,content,date,url,text_col,words
0,The San Francisco call. [volume],An Eskimo just back\nfrom fishing\nMeets compa...,19100227,https://chroniclingamerica.loc.gov/lccn/sn8506...,an eskimo just back from fishing meets company...,"[eskimo, back, fishing, meets, company, hi, 3,..."
1,Mining-dredging edition Nome daily nugget. [vo...,f..-----t\n• •\ni ?\nONF. of tile most interes...,19151001,https://chroniclingamerica.loc.gov/lccn/201827...,ft i onf of tile most interesting of tile dive...,"[ft, onf, tile, interesting, tile, diverse, fo..."
2,The Washington times. [volume],I' i I\n■■ I* ■- ■\ni BOOK OF MAGIC—Why Is Mr....,19230114,https://chroniclingamerica.loc.gov/lccn/sn8402...,i i i i i book of magicwhy is mr walrus so sad...,"[book, magicwhy, mr, walrus, sad, u, n, jl, mg..."
3,The times dispatch. [volume],",*TKE TIMES-DISPATCHi RICHMOND, VA., SUNDAY, J...",19070922,https://chroniclingamerica.loc.gov/lccn/sn8503...,tke timesdispatchi richmond va sunday jglotemb...,"[tke, timesdispatchi, richmond, va, sunday, jg..."
4,New-York tribune. [volume],ycu)^ jrrk s^lliiife Sttbutie.\nVKEPAR ITIOXS ...,19031122,https://chroniclingamerica.loc.gov/lccn/sn8303...,ycu jrrk slliiife sttbutie vkepar itioxs for t...,"[ycu, jrrk, slliiife, sttbutie, vkepar, itioxs..."
5,New-York tribune. [volume],Heard and Se\nParticular Mr. Walrus\nBy MARY G...,19190601,https://chroniclingamerica.loc.gov/lccn/sn8303...,heard and se particular mr walrus by mary grah...,"[heard, se, particular, mr, walrus, mary, grah..."
6,The Nome nugget. [volume],GAMBELL\nNEWS LETTER\nBy CLARENCE IRRIGOO\nFal...,19571225,https://chroniclingamerica.loc.gov/lccn/sn8402...,gambell news letter by clarence irrigoo fall 1...,"[gambell, news, letter, clarence, irrigoo, fal..."
7,New-York tribune. [volume],BRINGING HOME THE ESQUIMAU BACON\nHAVE you eve...,19211009,https://chroniclingamerica.loc.gov/lccn/sn8303...,bringing home the esquimau bacon have you ever...,"[bringing, home, esquimau, bacon, ever, seen, ..."
8,The Nome nugget. [volume],ANYBODY WANT A WALRUS HEAD TROPHY?\nThe time h...,19561015,https://chroniclingamerica.loc.gov/lccn/sn8402...,anybody want a walrus head trophy the time has...,"[anybody, want, walrus, head, trophy, time, co..."
9,Evening star. [volume],% Bet she'd give her eye-teeth\nfor what we've...,19440618,https://chroniclingamerica.loc.gov/lccn/sn8304...,bet shed give her eyeteeth for what weve got 1...,"[bet, shed, give, eyeteeth, weve, got, 1, cant..."
10,Detroit evening times.,AT DAWN 'THE WALRUS’ COMES TO VAL AND SAYS. ‘T...,19440213,https://chroniclingamerica.loc.gov/lccn/sn8806...,at dawn the walrus comes to val and says theps...,"[dawn, walrus, comes, val, says, theps, val, a..."
11,Evening star. [volume],Horry GtQQM\n■ ' • I » * iik\nTOY IN ORBIT: Ki...,19611105,https://chroniclingamerica.loc.gov/lccn/sn8304...,horry gtqqm i iik toy in orbit kimowhtan siloo...,"[horry, gtqqm, iik, toy, orbit, kimowhtan, sil..."
12,Mining-dredging edition Nome daily nugget. [vo...,"window, usually located in the roof\ncovered w...",19151001,https://chroniclingamerica.loc.gov/lccn/201827...,window usually located in the roof covered wit...,"[window, usually, located, roof, covered, oile..."
13,The Waterbury Democrat. [volume],Walrus Is Most Maligned Plane\nBut British Fle...,19430521,https://chroniclingamerica.loc.gov/lccn/sn8201...,walrus is most maligned plane but british flee...,"[walrus, maligned, plane, british, fleet, swea..."
14,The Nome nugget. [volume],"THE NOME NUGGET\nPublished Monday, Wednesday a...",19560709,https://chroniclingamerica.loc.gov/lccn/sn8402...,the nome nugget published monday wednesday and...,"[nome, nugget, published, monday, wednesday, f..."
15,The Wrangell sentinel.,Reynolds Hunts Walrus\n(Seattle Times)\n<fr.fr...,19380923,https://chroniclingamerica.loc.gov/lccn/sn9405...,reynolds hunts walrus seattle times frfr48huju...,"[reynolds, hunts, walrus, seattle, times, frfr..."
16,New-York tribune. [volume],announcing Its proprietor's name. These are th...,18970829,https://chroniclingamerica.loc.gov/lccn/sn8303...,announcing its proprietors name these are the ...,"[announcing, proprietors, name, afleos, oyster..."
17,The Nome nugget. [volume],"1-- w—mm—mm\nHUH\n*1 .\nSaturday, 9 a.m., N. C...",19550603,https://chroniclingamerica.loc.gov/lccn/sn8402...,1 wmmmm huh 1 saturday 9 am n c store all kind...,"[1, wmmmm, huh, 1, saturday, 9, n, c, store, k..."
18,Mining-dredging edition Nome daily nugget. [vo...,Reviewing as a whole the possibilities of fish...,19161001,https://chroniclingamerica.loc.gov/lccn/201827...,reviewing as a whole the possibilities of fish...,"[reviewing, whole, possibilities, fishing, sec..."
19,El Paso herald.,COMIC SECTION\nEL PASO HERALD\nApril 10 1915\n...,19150410,https://chroniclingamerica.loc.gov/lccn/sn8808...,comic section el paso herald april 10 1915 cop...,"[comic, section, el, paso, herald, april, 10, ..."

The output of the above cell will be quite long. Before turning in this assignment, please delete the cell above so the file you turn in is not difficult to read. Thank you!

In [78]:
type(cleaned_papers)

list

In the cell below, we will take the nested dictionary, which is also a json format, and we will convert it into a DataFrame.

In [50]:
df = pd.DataFrame.from_dict(json_data)
# print(df.head(4))
df

,totalItems,endIndex,startIndex,itemsPerPage,items
0,519976,20,1,20,"{'sequence': 25, 'county': ['New York'], 'edit..."
1,519976,20,1,20,"{'sequence': 131, 'county': [None], 'edition':..."
2,519976,20,1,20,"{'sequence': 7, 'county': ['Fulton'], 'edition..."
3,519976,20,1,20,"{'sequence': 15, 'county': ['Prince George's']..."
4,519976,20,1,20,"{'sequence': 17, 'county': ['Cook County'], 'e..."
5,519976,20,1,20,"{'sequence': 13, 'county': ['Cook County'], 'e..."
6,519976,20,1,20,"{'sequence': 9, 'county': ['Cook County'], 'ed..."
7,519976,20,1,20,"{'sequence': 3, 'county': ['Cook County'], 'ed..."
8,519976,20,1,20,"{'sequence': 1, 'county': ['Fayette', 'Hamilto..."
9,519976,20,1,20,"{'sequence': 93, 'county': [None], 'edition': ..."
10,519976,20,1,20,"{'sequence': 24, 'county': ['Cook County'], 'e..."
11,519976,20,1,20,"{'sequence': 3, 'county': ['Lancaster'], 'edit..."
12,519976,20,1,20,"{'sequence': 41, 'county': [None], 'edition': ..."
13,519976,20,1,20,"{'sequence': 42, 'county': [None], 'edition': ..."
14,519976,20,1,20,"{'sequence': 40, 'county': [None], 'edition': ..."
15,519976,20,1,20,"{'sequence': 9, 'county': ['Hennepin', 'Ramsey..."
16,519976,20,1,20,"{'sequence': 154, 'county': [None], 'edition':..."
17,519976,20,1,20,"{'sequence': 36, 'county': ['Cascade'], 'editi..."
18,519976,20,1,20,"{'sequence': 18, 'county': ['Douglas'], 'editi..."
19,519976,20,1,20,"{'sequence': 30, 'county': ['Cook County'], 'e..."

If we switch the layout of the dataframe, it becomes easier to see how the labels for the dataframe are different from the many items in the items observation. We can try to use the json method `normalize` to flatten out the file into columns.

In [53]:
df = pd.json_normalize(json_data)
df.columns

Index(['totalItems', 'endIndex', 'startIndex', 'itemsPerPage', 'items'], dtype='object')

In [55]:
dfpapers = pd.DataFrame.from_dict(json_data['items'])
dfpapers.head(5)

,sequence,county,edition,frequency,id,subject,city,date,title,end_year,...,language,alt_title,lccn,country,ocr_eng,batch,title_normal,url,place,page
0,25,[New York],None,Daily,/lccn/sn83030272/1913-05-04/ed-1/seq-25/,"[New York (N.Y.)--Newspapers., New York (State...",[New York],19130504,The sun. [volume],1916,...,[English],"[Extra sun, New York sun]",sn83030272,New York,V\ngg POETRY SECTl GARDENS\nTHIRD SECTION.\nNE...,nn_ehrlich_ver02,sun.,https://chroniclingamerica.loc.gov/lccn/sn8303...,[New York--New York--New York],
1,131,[None],None,Daily,/lccn/sn83045462/1948-09-26/ed-1/seq-131/,"[Washington (D.C.)--fast--(OCoLC)fst01204505, ...",[Washington],19480926,Evening star. [volume],1972,...,[English],"[Star, Sunday star]",sn83045462,District of Columbia,"...long limbed,\nathletic look in\nUMenea^le*\...",dlc_2goncharova_ver03,evening star.,https://chroniclingamerica.loc.gov/lccn/sn8304...,[District of Columbia--Washington],6
2,7,[Fulton],None,Weekly,/lccn/2020233210/1911-03-16/ed-1/seq-7/,"[Atlanta (Ga.)--Newspapers., Christianity--Sou...",[Atlanta],19110316,The Golden age. [volume],1920,...,[English],[],2020233210,Georgia,HE MOST enthusiastic and partial\nstudent of c...,gu_eridanus_ver02,golden age.,https://chroniclingamerica.loc.gov/lccn/202023...,[Georgia--Fulton--Atlanta],7
3,15,[Prince George's],None,Weekly,/lccn/sn89061521/1938-08-24/ed-1/seq-15/,"[Greenbelt (Md.)--Newspapers., Maryland--Green...",[Greenbelt],19380824,Greenbelt cooperator.,1954,...,[English],[Greenbelt],sn89061521,Maryland,"Auyust 24, 1938\nFAVORITE POEMS\nDear NEIGHBOR...",mdu_annapolis_ver01,greenbelt cooperator.,https://chroniclingamerica.loc.gov/lccn/sn8906...,[Maryland--Prince George's--Greenbelt],PAGE FIFTEEN
4,17,[Cook County],None,Daily (except Sunday and holidays),/lccn/sn83045487/1912-02-06/ed-1/seq-17/,"[Chicago (Ill.)--Newspapers., Illinois--Chicag...",[Chicago],19120206,The day book. [volume],1917,...,[English],[],sn83045487,Illinois,"IKiSKJSSSWPWf\n0 0\nThe Mercantile Muse.\n""Has...",iune_echo_ver01,day book.,https://chroniclingamerica.loc.gov/lccn/sn8304...,[Illinois--Cook County--Chicago],

In [57]:
dfpapers['url'][0]

'https://chroniclingamerica.loc.gov/lccn/sn83030272/1913-05-04/ed-1/seq-25.json'

In [32]:
for key in dfpapers:
    print(key)

sequence
county
edition
frequency
id
subject
city
date
title
end_year
note
state
section_label
type
place_of_publication
start_year
edition_label
publisher
language
alt_title
lccn
country
ocr_eng
batch
title_normal
url
place
page

The `.tail()` method will print out just the last (in this case) 6 items in the dictionary.

In [21]:
dates = dfpapers["date"]
dates.head()

0    19130504
1    19480926
2    19110316
3    19380824
4    19120206
Name: date, dtype: object

In [22]:
dfpapers["date"] = pd.to_datetime(dfpapers["date"])
dfpapers["date"]

0    1913-05-04
1    1948-09-26
2    1911-03-16
3    1938-08-24
4    1912-02-06
5    1915-02-02
6    1914-02-04
7    1914-03-04
8    1908-02-09
9    1939-01-22
10   1915-12-14
11   1948-11-18
12   1905-11-19
13   1905-11-19
14   1905-11-19
15   1917-05-31
16   1960-04-03
17   1954-10-01
18   1912-07-28
19   1912-08-24
Name: date, dtype: datetime64[ns]

The `shape()` method will show how many rows and how many columns are in your dataframe.

In [23]:
dfpapers.shape

(20, 28)

In [24]:
dfpapers.describe()

         sequence     end_year   start_year
count   20.000000    20.000000    20.000000
mean    35.550000  1945.900000  1891.200000
std     42.257948    30.026129    35.256354
min      1.000000  1916.000000  1833.000000
25%      9.000000  1917.000000  1854.000000
50%     21.000000  1938.000000  1908.500000
75%     40.250000  1972.000000  1911.000000
max    154.000000  1999.000000  1947.000000

## Reflection and Writing
In this exercise, you queried an API from Chronicling America and pulled in files that included the search term "poetry." Those files, then, reshaped and made slightly more tidy by highlighting the "keys" to the dictionary, and then taking one small section of the dictionary and turning it into a dataframe. 

Look back over the notebook and do the following: 


1.   Return to the section "Reading text in a dataframe." Read through some of the entries. Create a new text cell and explain what kind of "data cleaning" you would recommend to prepare the text for analysis. How can you take into consideration Munoz and Rawson's article? What makes the data "messy"? What messiness should remain? What messiness should be repaired? What messiness should be removed? 
2.    Go to the top of the Chronicling America section. Make a copy of the search query and try replacing the term "poetry" (the parameter of the search argument) with another one. What were the results? 
3.   What changes when you rerun the activity besides the results? Do you need to make any changes to the next cells for them to run?

1.   Return to the section "Reading text in a dataframe." Read through some of the entries. Create a new text cell and explain what kind of "data cleaning" you would recommend to prepare the text for analysis. 

The 'content' or ocr_eng value in the data is the text of the newspaper created from optical character recognition tools. This text would be the most likely to process using a variety of tools depending on the questions of the researchers. For example spaces and line breaks and the character combinations that represent them might be removed. As well a tokenization process, removal of stop words, lemmatization, and more could all be undertaken. But depending on the interests of the researchers and the communities of interest that they are wishing to engage, they may take additional steps to interact with the data. For example each entry in the results also includes the source URL of the newspaper json which points to a PDF of the newspaper page. With a quick look at the first value [The Sun](https://chroniclingamerica.loc.gov/data/batches/nn_ehrlich_ver02/data/sn83030272/0020653994A/1913050401/0866.pdf) you would quickly find that the word "POULTRY" was misinterpretted by the OCR as "POETRY" and should not have even been included in the data set! 

So the image which is still 'messy' has tremendous value when considering the processing tools and the choices they make.

2.    Go to the top of the Chronicling America section. Make a copy of the search query and try replacing the term "poetry" (the parameter of the search argument) with another one. What were the results? 

Switching to the search term 'walrus' still produced 20 entries, which due to the fact that each json request returns a value describing how many 'totalItems' there are, in this case 42632, but also describes that 'itemsPerPage' is 20. If you wished to gather the data for all 42632 items you would have to create multiple requests looping through 20 at a time and attaching and incrementing the '&page=#' to the url. This of course would take some time, but hopefully would not timeout!

3.   What changes when you rerun the activity besides the results? Do you need to make any changes to the next cells for them to run? 

No particular changes are required other than the additional text processing experiments created above and the addition of the URL to the sample.